body {
    background-color: beige;
}

#countries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
}

.country {
    margin-bottom: 30px;
    background-color: bisque;
    border: 2px solid coral;
    padding: 10px;
    padding-left: 20px;
    border-radius: 20px;
}